@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}

.home {
  display: flex;
  height: 100vh;
  width: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../images/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100dvh;
}
.home .hero {
  display: flex;
  height: auto;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15vh;
}
.home .hero__content {
  width: 55%;
}
.home .hero__content-message {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: calc(2.5vh + 0.3rem);
  font-weight: 200;
  letter-spacing: 0.4vh;
}
.home .hero__content-title {
  padding: 1.8vh 0 2vh;
  font-family: "Bellefair", sans-serif;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: clamp(6rem, 14vh + 0.3rem, 15rem);
  letter-spacing: 0.4vh;
  font-weight: 500;
}
.home .hero__content-text {
  font-family: "Barlow", sans-serif;
  font-size: calc(1.45vh + 0.3rem);
  font-weight: 200;
  letter-spacing: 0.04vw;
  line-height: 190%;
}
.home .hero__button {
  display: flex;
  height: auto;
  width: 25%;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  transition: 1s;
  outline: 0 solid rgba(255, 255, 255, 0.7);
  color: hsl(230, 35%, 7%);
  font-family: "Bellefair", sans-serif;
  font-size: calc(2.8vh + 0.3rem);
  text-transform: uppercase;
  padding-top: 1vh;
}
.home .hero__button:hover {
  outline: 6vw solid rgba(255, 255, 255, 0.3);
  color: hsla(230, 35%, 7%, 0.7);
  cursor: pointer;
}

@media (max-width: 900px) and (orientation: portrait) {
  .home {
    background-image: url("../images/home/background-home-tablet.jpg");
  }
  .home .hero {
    height: 70%;
    flex-direction: column;
    margin-bottom: 10vh;
    width: min(100%, 700px);
  }
  .home .hero__content {
    width: 100%;
    text-align: center;
    padding: 0 7vw;
  }
  .home .hero__content-message {
    font-weight: 100;
  }
  .home .hero__button {
    width: 24vh;
    font-size: calc(2.5vh + 0.3rem);
  }
}
@media (max-width: 700px) {
  .home {
    background-image: url("../images/home/background-home-mobile.jpg");
  }
  .home .hero__content-message {
    font-size: 1rem;
  }
  .home .hero__content-title {
    font-size: 5rem;
  }
  .home .hero__content-text {
    line-height: 170%;
    letter-spacing: 0.09vh;
  }
  .home .hero__button {
    width: 8.5rem;
    font-size: 1.1rem;
  }
}
@media (max-width: 355px) {
  .home .hero {
    margin-bottom: 6vh;
  }
  .home .hero__content-message {
    font-size: 0.8rem;
  }
  .home .hero__content-title {
    font-size: 4.2rem;
  }
  .home .hero__content-text {
    line-height: 150%;
  }
  .home .hero__button {
    width: 6.5rem;
    font-size: 0.85rem;
  }
}
@media (max-width: 940px) and (orientation: landscape) {
  .home .hero__content-message {
    font-size: 0.8rem;
  }
  .home .hero__content-title {
    font-size: 3.4rem;
  }
  .home .hero__button {
    width: 8rem;
    font-size: 0.85rem;
  }
}
.destination {
  display: flex;
  height: 100vh;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100dvh;
}
.destination__content {
  display: flex;
  height: 67%;
  width: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 10vh;
  color: hsl(0, 0%, 100%);
}
.destination__title {
  width: 100%;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: calc(2.5vh + 0.3rem);
  font-weight: 200;
  letter-spacing: 0.4vh;
}
.destination__title-number {
  opacity: 0.35;
  font-weight: 500;
  margin-right: 1vw;
}
.destination__info {
  display: flex;
  height: 80%;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.destination__illustration {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.destination__illustration-image {
  height: 90%;
}
.destination__explanation {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 7vw;
}
.destination__menu {
  display: flex;
  height: 10%;
  width: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.1vw;
  list-style: none;
  color: hsl(231, 77%, 90%);
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: calc(1.9vh + 0.3rem);
  font-weight: 200;
  letter-spacing: 0.4vh;
}
.destination__menu-item {
  height: 100%;
}
.destination__menu-item:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  border-bottom: 0.45vh solid hsla(0, 0%, 100%, 0.5);
}
.destination__menu .active {
  color: hsl(0, 0%, 100%);
  border-bottom: 0.45vh solid hsl(0, 0%, 100%);
}
.destination__text {
  height: 55%;
}
.destination__text-name {
  font-family: "Bellefair", sans-serif;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: clamp(3rem, 10vh + 0.3rem, 11rem);
  letter-spacing: 0.4vh;
  font-weight: 400;
}
.destination__text-description {
  font-family: "Barlow", sans-serif;
  font-size: calc(1.45vh + 0.3rem);
  font-weight: 200;
  letter-spacing: 0.04vw;
  line-height: 190%;
  color: hsl(231, 77%, 90%);
}
.destination__line {
  border: 0.1vh solid hsl(0, 0%, 59%);
  opacity: 0.25;
  width: 100%;
}
.destination__statistics {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
}
.destination__statistics-info {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2vh;
}
.destination__statistics-title {
  color: hsl(231, 77%, 90%);
  font-family: "Barlow Condensed", sans-serif;
  font-size: calc(1.45vh + 0.3rem);
  font-weight: 200;
  letter-spacing: 0.4vh;
}
.destination__statistics-data {
  font-family: "Bellefair", sans-serif;
  font-size: calc(2.5vh + 0.3rem);
  letter-spacing: 0.2vh;
}

@media (max-width: 900px) {
  .destination__content {
    height: 87%;
    width: 90%;
    bottom: 0;
  }
  .destination__title {
    font-size: calc(1.9vh + 0.3rem);
    font-weight: 100;
  }
  .destination__title-number {
    margin-right: 2vw;
  }
  .destination__info {
    height: 92%;
    flex-direction: column;
    gap: 2vh;
  }
  .destination__illustration {
    height: 42%;
    margin: auto;
  }
  .destination__illustration-image {
    height: 90%;
  }
  .destination__explanation {
    width: 100%;
    padding-right: 0;
    padding-bottom: 3vh;
  }
  .destination__menu {
    height: 8%;
    width: 100%;
    justify-content: center;
    font-size: calc(1.2vh + 0.3rem);
    gap: 3.5vw;
  }
  .destination__text {
    height: 55%;
    text-align: center;
    padding: 0 7vw;
  }
  .destination__text-name {
    font-size: calc(7vh + 0.3rem);
  }
  .destination__text-description {
    font-weight: 100;
  }
  .destination__statistics {
    height: 20%;
  }
  .destination__statistics-info {
    align-items: center;
  }
  .destination__statistics-title {
    font-size: calc(1vh + 0.3rem);
    letter-spacing: 0.3vh;
  }
  .destination__statistics-data {
    font-size: calc(2vh + 0.3rem);
    letter-spacing: 0.2vh;
  }
}
@media (max-width: 700px) {
  .destination {
    min-height: 114vh;
    min-height: 114dvh;
  }
  .destination__content {
    height: auto;
    bottom: auto;
    top: 14vh;
    gap: 7vh;
  }
  .destination__title {
    text-align: center;
  }
  .destination__title-number {
    margin-right: 2.5vh;
  }
  .destination__info {
    gap: 6vh;
  }
  .destination__illustration {
    height: 22vh;
    width: auto;
  }
  .destination__illustration-image {
    height: 100%;
  }
  .destination__explanation {
    gap: 2vh;
  }
  .destination__menu {
    height: 4vh;
    gap: 3.5vh;
  }
  .destination__text {
    padding: 0;
  }
  .destination__text-name {
    margin: 2vh 0 1vh;
  }
  .destination__text-description {
    line-height: 170%;
  }
  .destination__line {
    margin: 1vh 0;
  }
  .destination__statistics {
    flex-direction: column;
    gap: 3vh;
  }
  .destination__statistics-title {
    font-size: calc(1.5vh + 0.3rem);
  }
  .destination__statistics-data {
    font-size: calc(2.5vh + 0.3rem);
  }
}
@media (max-width: 355px) {
  .destination {
    min-height: 120vh;
  }
}
@media (max-width: 940px) and (orientation: landscape) {
  .destination__content {
    height: 77%;
    width: 85%;
  }
  .destination__info {
    flex-direction: row;
  }
  .destination__illustration {
    height: 75%;
    width: 50%;
  }
  .destination__explanation {
    height: 95%;
    width: 50%;
  }
  .destination__menu {
    justify-content: flex-start;
    gap: 2.5vw;
  }
  .destination__text {
    text-align: start;
    padding: 0;
  }
  .destination__text-name {
    font-size: calc(8vh + 0.3rem);
    margin-bottom: 1.5vh;
  }
  .destination__statistics-info {
    align-items: flex-start;
  }
}
.technology {
  display: flex;
  height: 100vh;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100dvh;
}
.technology__content {
  display: flex;
  height: 67%;
  width: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 10vh;
  color: hsl(0, 0%, 100%);
}
.technology__title {
  width: 100%;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: calc(2.5vh + 0.3rem);
  font-weight: 200;
  letter-spacing: 0.4vh;
}
.technology__title-number {
  opacity: 0.35;
  font-weight: 500;
  margin-right: 1vw;
}
.technology__info {
  display: flex;
  height: 90%;
  width: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.technology__explanation {
  display: flex;
  height: 100%;
  width: 58%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.technology__menu {
  display: flex;
  height: 70%;
  width: 11%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.technology__menu-item {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.12rem solid hsla(0, 0%, 100%, 0.5);
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: clamp(1rem, 3.1vh + 0.3rem, 6rem);
  font-family: "Bellefair", sans-serif;
}
.technology__menu-item:hover {
  cursor: pointer;
  border: 0.12rem solid hsl(0, 0%, 100%);
}
.technology__menu .active {
  background-color: hsl(0, 0%, 100%);
  color: hsl(230, 35%, 7%);
}
.technology__text {
  display: flex;
  height: auto;
  width: 82%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5vh;
  padding-right: 4vw;
}
.technology__text-title {
  font-family: "Bellefair", sans-serif;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: clamp(1rem, 3.1vh + 0.3rem, 6rem);
  letter-spacing: 0.1vh;
  font-weight: 400;
}
.technology__text-name {
  margin: 0.3vh 0 0.7vh;
  font-family: "Bellefair", sans-serif;
  text-transform: uppercase;
  font-size: clamp(2.8rem, 6vh + 0.3rem, 7rem);
  letter-spacing: 0.1vh;
  font-weight: 400;
}
.technology__text-description {
  font-family: "Barlow", sans-serif;
  font-size: calc(1.45vh + 0.3rem);
  font-weight: 200;
  letter-spacing: 0.04vw;
  line-height: 190%;
  color: hsl(231, 77%, 90%);
}
.technology__illustration {
  width: 42%;
  height: 100%;
}
.technology__illustration-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
}

@media (max-width: 900px) {
  .technology__content {
    height: 87%;
    width: 90%;
    bottom: 0;
  }
  .technology__title {
    font-size: calc(1.9vh + 0.3rem);
    font-weight: 100;
  }
  .technology__title-number {
    margin-right: 2vw;
  }
  .technology__info {
    height: 92%;
    flex-direction: column-reverse;
    gap: 0vh;
  }
  .technology__illustration {
    width: 100vw;
    height: 40%;
  }
  .technology__illustration-image {
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
  .technology__explanation {
    height: 60%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .technology__menu {
    height: auto;
    width: auto;
    flex-direction: row;
    margin: 4vh;
    gap: 3vw;
  }
  .technology__menu-item {
    width: 8.5vw;
    font-size: calc(2vh + 0.3rem);
  }
  .technology__text {
    align-items: center;
    padding: 0;
  }
  .technology__text-title {
    font-size: calc(2vh + 0.3rem);
  }
  .technology__text-name {
    font-size: calc(4vh + 0.3rem);
  }
  .technology__text-description {
    text-align: center;
    font-weight: 100;
  }
}
@media (max-width: 700px) {
  .technology {
    min-height: 120vh;
    min-height: 120dvh;
  }
  .technology__content {
    top: 14vh;
    gap: 10vh;
  }
  .technology__title {
    text-align: center;
  }
  .technology__title-number {
    margin-right: 2.5vw;
  }
  .technology__menu {
    gap: 4vw;
  }
  .technology__menu-item {
    width: 10vw;
  }
  .technology__text {
    gap: 2vh;
  }
}
@media (max-width: 355px) {
  .technology {
    min-height: 125vh;
  }
}
.nav {
  display: flex;
  height: 12vh;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 5vh;
}
.nav .logo {
  display: flex;
  height: 100%;
  width: 15%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .logo__image {
  height: 55%;
}
.nav .line {
  position: absolute;
  width: 34%;
  left: 15%;
  z-index: 1;
  border: 0.25vh solid hsl(0, 0%, 59%);
  opacity: 0.25;
}
.nav .icon {
  display: none;
}
.nav .menu {
  display: flex;
  height: 100%;
  width: 55%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 12vw;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.05);
  gap: 3vw;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.nav .menu__item {
  height: 100%;
}
.nav .menu__item-link {
  display: flex;
  height: 100%;
  width: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6vw;
  color: hsl(0, 0%, 100%);
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: calc(1.45vh + 0.3rem);
  letter-spacing: 0.45vh;
  border-bottom: 0.45vh solid transparent;
  padding-top: 0.45vh;
}
.nav .menu__item .active {
  border-bottom: 0.45vh solid hsl(0, 0%, 100%);
}
.nav .menu__item-number {
  font-weight: 600;
}

@media (max-width: 900px) and (orientation: portrait) {
  .nav {
    height: 9.5vh;
    top: 0;
  }
  .nav .logo {
    width: 18%;
  }
  .nav .logo__image {
    height: 45%;
  }
  .nav .line {
    display: none;
  }
  .nav .menu {
    width: 82%;
    gap: 4vw;
  }
  .nav .menu__item-link {
    gap: 1.5vw;
    font-weight: 100;
    font-size: calc(1vh + 0.3rem);
  }
  .nav .menu__item-number {
    font-weight: 400;
  }
}
@media (max-width: 700px) {
  .nav {
    position: fixed;
    z-index: 1;
    height: 12vh;
  }
  .nav .logo {
    width: 25%;
  }
  .nav .icon {
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
  }
  .nav .icon__open {
    height: 28%;
    z-index: 2;
  }
  .nav .menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    height: 100dvh;
    width: 0vw;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
    flex-direction: column;
    padding: 35% 0 0 9%;
    gap: 4vh;
    z-index: 1;
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
  }
  .nav .menu__item {
    height: auto;
    width: 100%;
  }
  .nav .menu__item-link {
    font-size: 1.1rem;
    gap: 3vw;
  }
  .nav .menu__item-title {
    font-weight: 200;
  }
  .nav .menu__item-number {
    font-weight: 500;
  }
  .nav .menu__item .active {
    border-bottom: none;
    border-right: 1.2vw solid hsl(0, 0%, 100%);
  }
  .nav .menu .active .menu__item-number {
    display: block;
  }
  .nav .open {
    opacity: 1;
    width: 65%;
  }
}
@media (max-width: 355px) {
  .nav .menu {
    padding-top: 25%;
  }
  .nav .menu__item-link {
    font-size: 0.9rem;
  }
}
.footer .attribution {
  display: flex;
  height: 14vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(1.45vh + 0.3rem);
  gap: 1vh;
  text-align: center;
  background-color: hsl(230, 35%, 7%);
  font-family: "Barlow", sans-serif;
  letter-spacing: 0.15vh;
}
.footer .attribution__link {
  text-decoration: none;
  transition: 0.5s;
  color: hsl(231, 77%, 80%);
}
.footer .attribution__link:hover {
  color: hsl(231, 77%, 90%);
}

body {
  color: hsl(231, 77%, 90%);
}/*# sourceMappingURL=main.css.map */