.destination {
    @include flexbox(100vh, auto, column, center);
    @include background(url('../images/destination/background-destination-desktop.jpg'));
    height: 100dvh;

    &__content {
        @include flexbox(67%, 80%, column, space-between);
        position: absolute;
        bottom: 10vh;
        color: $white;
    }

    &__title {
        width: 100%;
        font-family: 'Barlow Condensed', sans-serif;
        text-transform: uppercase;
        font-size: calc(2.5vh + .3rem);
        font-weight: 200;
        letter-spacing: .4vh;

        &-number {
            opacity: .35;
            font-weight: 500;
            margin-right: 1vw;
        }
    }

    &__info {
        @include flexbox(80%, 100%, row, space-between);
    }

    &__illustration {
        @include flexbox(100%, 50%, row, center);
        
        &-image {
            height: 90%;
        }
    }

    &__explanation {
        @include flexbox(100%, 50%, column, space-between, flex-start);
        padding-right: 7vw;
    }

    &__menu {
        @include flexbox(10%, auto, row, flex-start, flex-start);
        gap: 2.1vw;
        list-style: none;
        color: $light_blue;
        font-family: 'Barlow Condensed', sans-serif;
        text-transform: uppercase;
        font-size: calc(1.9vh + .3rem);
        font-weight: 200;
        letter-spacing: .4vh;

        &-item {
            height: 100%;

            &:hover {
                cursor: pointer;
                color: $white;
                border-bottom: .45vh solid $transparent_white;
            }
        }

        .active {
            color: $white;
            border-bottom: .45vh solid $white;
        }
    }

    &__text {
        height: 55%;

        &-name {
            font-family: 'Bellefair', sans-serif;
            text-transform: uppercase;
            color: $white;
            font-size: clamp(3rem, calc(10vh + .3rem), 11rem);
            letter-spacing: .4vh;
            font-weight: 400;
        }

        &-description {
            font-family: 'Barlow', sans-serif;
            font-size: calc(1.45vh + .3rem);
            font-weight: 200;
            letter-spacing: .04vw;
            line-height: 190%;
            color: $light_blue;
        }
    }

    &__line {
        border: .1vh solid $gray;
        opacity: .25;
        width: 100%;
    }

    &__statistics {
        @include flexbox(auto, 100%);
        text-transform: uppercase;

        &-info {
            @include flexbox(auto, 100%, column, center, flex-start);
            gap: 1.2vh;
        }

        &-title {
            color: $light_blue;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: calc(1.45vh + .3rem);
            font-weight: 200;
            letter-spacing: .4vh;
        }

        &-data {
            font-family: 'Bellefair', sans-serif;
            font-size: calc(2.5vh + .3rem);
            letter-spacing: .2vh;
        }
    }
}

@media (max-width: 900px) {
    .destination {
        &__content {
            height: 87%;
            width: 90%;
            bottom: 0;
        }

        &__title {
            font-size: calc(1.9vh + .3rem);
            font-weight: 100;

            &-number {
                margin-right: 2vw;
            }
        }

        &__info {
            height: 92%;
            flex-direction: column;
            gap: 2vh;
        }

        &__illustration {
            height: 42%;
            margin: auto;
            
            &-image {
                height: 90%;
            }
        }

        &__explanation {
            width: 100%;
            padding-right: 0;
            padding-bottom: 3vh;
        }

        &__menu {
            height: 8%;
            width: 100%;
            justify-content: center;
            font-size: calc(1.2vh + .3rem);
            gap: 3.5vw;
        }

        &__text {
            height: 55%;
            text-align: center;
            padding: 0 7vw;
    
            &-name {
                font-size: calc(7vh + .3rem);
            }
    
            &-description {
                font-weight: 100;
            }
        }

        &__statistics {
            height: 20%;

            &-info {
                align-items: center;
            }

            &-title {
                font-size: calc(1vh + .3rem);
                letter-spacing: .3vh;
            }

            &-data {
                font-size: calc(2vh + .3rem);
                letter-spacing: .2vh;
            }
        }
    }
}

@media (max-width: 700px) {
    .destination {
        min-height: 114vh;
        min-height: 114dvh;

        &__content {
            height: auto;
            bottom: auto;
            top: 14vh;
            gap: 7vh;
        }

        &__title {
            text-align: center;

            &-number {
                margin-right: 2.5vh;
            }
        }

        &__info {
            gap: 6vh;
        }

        &__illustration {
            height: 22vh;
            width: auto;

            &-image {
                height: 100%;
            }
        }

        &__explanation {
            gap: 2vh;
        }

        &__menu {
            height: 4vh;
            gap: 3.5vh;
        }

        &__text {
            padding: 0;

            &-name {
                margin: 2vh 0 1vh;
            }

            &-description {
                line-height: 170%;
            }
        }

        &__line {
            margin: 1vh 0;
        }

        &__statistics {
            flex-direction: column;
            gap: 3vh;

            &-title {
                font-size: calc(1.5vh + .3rem);
            }

            &-data {
                font-size: calc(2.5vh + .3rem);
            }
        }
    }
}

@media (max-width: 355px) {
    .destination {
        min-height: 120vh;
    }
}