.home {
    @include flexbox(100vh, auto, column, flex-end);
    @include background(url('../images/home/background-home-desktop.jpg'));
    height: 100dvh;

    .hero {
        @include flexbox(auto, 80%, row, space-between);
        margin-bottom: 15vh;

        &__content {
            width: 55%;

            &-message {
                font-family: 'Barlow Condensed', sans-serif;
                text-transform: uppercase;
                font-size: calc(2.5vh + .3rem);
                font-weight: 200;
                letter-spacing: .4vh;
            }
    
            &-title {
                padding: 1.8vh 0 2vh;
                font-family: 'Bellefair', sans-serif;
                text-transform: uppercase;
                color: $white;
                font-size: clamp(6rem, calc(14vh + .3rem), 15rem);
                letter-spacing: .4vh;
                font-weight: 500;
            }
    
            &-text {
                font-family: 'Barlow', sans-serif;
                font-size: calc(1.45vh + .3rem);
                font-weight: 200;
                letter-spacing: .04vw;
                line-height: 190%;
            }
        }

        &__button {
            @include flexbox(auto, 25%, center, center);
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            background-color: $white;
            transition: 1s;
            outline: 0 solid rgba(255, 255, 255, 0.7);
            color: $very_dark_navy;
            font-family: 'Bellefair', sans-serif;
            font-size: calc(2.8vh + .3rem);
            text-transform: uppercase;
            padding-top: 1vh;

            &:hover {
                outline: 6vw solid rgba(255, 255, 255, 0.3);
                color: $transparent_very_dark_navy;
                cursor: pointer;
            }
        }
        
    }
}

@media (max-width: 900px) and (orientation: portrait) {
    .home {
        background-image: url('../images/home/background-home-tablet.jpg');

        .hero {
            height: 70%;
            flex-direction: column;
            margin-bottom: 10vh;
            width: min(100%, 700px);

            &__content {
                width: 100%;
                text-align: center;
                padding: 0 7vw;

                &-message {
                    font-weight: 100;
                }
            }

            &__button {
                width: 24vh;
                font-size: calc(2.5vh + .3rem);
            }
        }
    }
}


@media (max-width: 700px) {
    .home {
        background-image: url('../images/home/background-home-mobile.jpg');

        .hero {
            &__content {
                &-message {
                    font-size: 1rem;
                }

                &-title {
                    font-size: 5rem;
                }

                &-text {
                    line-height: 170%;
                    letter-spacing: .09vh;
                }
            }

            &__button {
                width: 8.5rem;
                font-size: 1.1rem;
            }
        }
    }
}

@media (max-width: 355px) {
    .home {
        .hero {
            margin-bottom: 6vh;

            &__content {
                &-message {
                    font-size: .8rem;
                }

                &-title {
                    font-size: 4.2rem;
                }

                &-text {
                    line-height: 150%;
                }
            }

            &__button {
                width: 6.5rem;
                font-size: .85rem;
            }
        }
    }
}

@media (max-width: 940px) and (orientation: landscape) {
    .home {
        .hero {
            &__content {
                &-message {
                    font-size: .8rem;
                }

                &-title {
                    font-size: 3.4rem;
                }

            }

            &__button {
                width: 8rem;
                font-size: .85rem;
            }
        }
    }
}

