.technology {
    @include flexbox(100vh, auto, column, center);
    @include background(url('../images/technology/background-technology-desktop.jpg'));
    height: 100dvh;

    &__content {
        @include flexbox(67%, 80%, column, space-between);
        position: absolute;
        bottom: 10vh;
        color: $white;
    }

    &__title {
        width: 100%;
        font-family: 'Barlow Condensed', sans-serif;
        text-transform: uppercase;
        font-size: calc(2.5vh + .3rem);
        font-weight: 200;
        letter-spacing: .4vh;

        &-number {
            opacity: .35;
            font-weight: 500;
            margin-right: 1vw;
        }
    }

    &__info {
        @include flexbox(90%, auto);
    }

    &__explanation {@include flexbox(100%, 58%, row, space-between);
    }

    &__menu {
        @include flexbox(70%, 11%, column, space-evenly);
        list-style: none;

        &-item {
            @include flexbox(auto, 100%, row, center);
            border: .12rem solid $transparent_white;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            font-size: clamp(1rem, calc(3.1vh + .3rem), 6rem);
            font-family: 'Bellefair', sans-serif;

            &:hover {
                cursor: pointer;
                border: .12rem solid $white;
            }
        }

        .active {
            background-color: $white;
            color: $very_dark_navy;
        }
    }

    &__text {
        @include flexbox(auto, 82%, column, center, flex-start);
        gap: 1.5vh;
        padding-right: 4vw;

        &-title {
            font-family: 'Bellefair', sans-serif;
            text-transform: uppercase;
            color: $transparent_white;
            font-size: clamp(1rem, calc(3.1vh + .3rem), 6rem);
            letter-spacing: .1vh;
            font-weight: 400;
        }

        &-name {
            margin: .3vh 0 .7vh;
            font-family: 'Bellefair', sans-serif;
            text-transform: uppercase;
            font-size: clamp(2.8rem, calc(6vh + .3rem), 7rem);
            letter-spacing: .1vh;
            font-weight: 400;
        }

        &-description {
            font-family: 'Barlow', sans-serif;
            font-size: calc(1.45vh + .3rem);
            font-weight: 200;
            letter-spacing: .04vw;
            line-height: 190%;
            color: $light_blue;
        }
    }

    &__illustration {
        width: 42%;
        height: 100%;

        &-image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 0%;
        }
    }
}

@media (max-width: 900px) {
    .technology {
        &__content {
            height: 87%;
            width: 90%;
            bottom: 0;
        }

        &__title {
            font-size: calc(1.9vh + .3rem);
            font-weight: 100;

            &-number {
                margin-right: 2vw;
            }
        }
        
        &__info {
            height: 92%;
            flex-direction: column-reverse;
            gap: 0vh;
        }

        &__illustration {
            width: 100vw;
            height: 40%;

            &-image {
                object-position: 50% 50%;
            }
        }

        &__explanation {
            height: 60%;
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
        }

        &__menu {
            height: auto;
            width: auto;
            flex-direction: row;
            margin: 4vh;
            gap: 3vw;

            &-item {
                width: 8.5vw;
                font-size: calc(2vh + .3rem);
            }
        }

        &__text {
            align-items: center;
            padding: 0;

            &-title {
                font-size: calc(2vh + .3rem);
            }

            &-name {
                font-size: calc(4vh + .3rem);
            }

            &-description {
                text-align: center;
                font-weight: 100;
            }
        }
    }
}

@media (max-width: 700px) {
    .technology {
        min-height: 120vh;
        min-height: 120dvh;

        &__content {
            top: 14vh;
            gap: 10vh;
        }
        
        &__title {
            text-align: center;

            &-number {
                margin-right: 2.5vw;
            }
        }

        &__menu {
            gap: 4vw;

            &-item {
                width: 10vw;
            }
        }

        &__text {
            gap: 2vh;
        }
    }
}

@media (max-width: 355px) {
    .technology {
        min-height: 125vh;
    }
}