.nav {
    @include flexbox(12vh, 100%, row, space-between, center);
    position: absolute;
    top: 5vh;

    .logo {
        @include flexbox(100%, 15%, row, center);

        &__image {
            height: 55%;
        }
    }

    .line {
        position: absolute;
        width: 34%;
        left: 15%;
        z-index: 1;
        border: .25vh solid $gray;
        opacity: .25;
    }

    .icon {
        display: none;
    }

    .menu {
        @include flexbox(100%, 55%);
        padding-left: 12vw;
        list-style: none;
        background-color: rgba(255, 255, 255, .05);
        gap: 3vw;
        backdrop-filter: blur(20px);

        &__item {
            height: 100%;

            &-link {
                @include flexbox(100%);
                gap: .6vw;
                color: $white;
                font-family: 'Barlow Condensed', sans-serif;
                text-transform: uppercase;
                font-size: calc(1.45vh + .3rem);
                letter-spacing: .45vh;
                border-bottom: .45vh solid transparent;
                padding-top: .45vh;
            }

            .active {
                border-bottom: .45vh solid $white;
            }

            &-number {
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 900px) and (orientation: portrait) {
    .nav {
        height: 9.5vh;
        top: 0;

        .logo {
            width: 20%;
        }

        .line {
            display: none;
        }

        .menu {
            width: 80%;

            &__item {         
                &-link {
                    gap: 1.5vw;
                    font-weight: 100;
                }

                &-number {
                    font-weight: 400;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .nav {
        height: 12vh;

        .logo {
            width: 25%;
        }

        .icon {
            @include flexbox(100%, 20%, row, center, center);
            position: absolute;
            right: 0;

            &__open {
                height: 28%;
                z-index: 2;
            }
        }

        .menu {
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            height: 100dvh;
            width: 0vw;
            overflow: hidden;
            opacity: 0;
            transition: 1s;
            flex-direction: column;
            padding: 35% 0 0 9%;
            gap: 4vh;
            z-index: 1;
            backdrop-filter: blur(40px);

            &__item {
                height: auto;
                width: 100%;

                &-link {
                    font-size: 1.1rem;
                    gap: 3vw;
                }

                &-title {
                    font-weight: 200;
                }

                &-number {
                    font-weight: 500;
                }

                .active {
                    border-bottom: none;
                    border-right: 1.2vw solid $white;
                }
            }

            .active .menu__item-number {
                display: block;
            }
        }

        .open {
            opacity: 1;
            width: 65%;
        }
    }
}

@media (max-width: 355px) {
    .nav {
        .menu {
            padding-top: 25%;

            &__item {
                &-link {
                    font-size: .9rem;
                }
            }
        }
    }
}