@mixin flexbox($height: auto, $width: auto, $flex_direction: row, 
               $justify_content: flex-start, $align_items: center) {
    display: flex;
    height: $height;
    width: $width;
    flex-direction: $flex_direction;
    justify-content: $justify_content;
    align-items: $align_items;
}

@mixin background($background_image) {
    background-image: $background_image;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}